
.intro .info, .intro .motto, .intro .and {
	-skrollr-animation-name: fadeOut;
}

@-skrollr-keyframes fadeOut {
	top-top {
		opacity: 1;
	}

	top-center {
		opacity: 0.7;
	}

	top-bottom {
		opacity: 0;
	}
}

.trip-info {
	-skrollr-animation-name: trip-info;
	transition: transform .6s;
}

@-skrollr-keyframes trip-info {
100-bottom {
	opacity: 0;
	transform: translateX(6000px);
}

20-bottom {
	  opacity: 1;
	  transform: translateX(2000px);
  }

-10-bottom {
	   opacity: 1;
	   transform: translateX(0px);
   }
}

.trip-time {
	-skrollr-animation-name: trip-time;
	transition: transform .6s;
}

@-skrollr-keyframes trip-time {
100-bottom {
	opacity: 0;
	transform: translateX(-6000px);
}

20-bottom {
	  opacity: 1;
	  transform: translateX(-2000px);
  }

-10-bottom {
	   opacity: 1;
	   transform: translateX(0px);
   }
}

.trip-circle {
	-skrollr-animation-name: trip-circle;
	transition: transform .6s;
}

@-skrollr-keyframes trip-circle {
100-bottom {
	opacity: 0;
	transform: translateY(100px);
}

20-bottom {
	  opacity: 1;
	  transform: translateY(30px);
  }

-10-bottom {
	   opacity: 1;
	   transform: translateY(0px);
   }
}

.skill-bar {
	-skrollr-animation-name: skill-bar;
}

@-skrollr-keyframes skill-bar {
-50-bottom {
	width: 32.5%;
}
}

.connect a {
	-skrollr-animation-name: connect;
}

@-skrollr-keyframes connect {
	bottom-top {
		transform: scale(2);
		opacity: 1;
	}

	bottom-bottom {
		transform: scale(1);
		opacity: 1;
	}
}

.rocket {
	-skrollr-animation-name: rocket;
}

@-skrollr-keyframes rocket {
95p-start {
	opacity: 0;
}

	end {
		opacity: 1;
	}
}
