
.intro .info, .intro .motto, .intro .and {
	-skrollr-animation-name: fadeOut;
}

@-skrollr-keyframes fadeOut {
	top-top {
		opacity: 1;
	}

	top-center {
		opacity: 0.7;
	}

	top-bottom {
		opacity: 0;
	}
}

.trip-info {
	-skrollr-animation-name: trip-info;
	transition: transform .6s;
}

@-skrollr-keyframes trip-info {

20-bottom {
	  opacity: 0;
	  transform: translate3d(3000px, 0px, 0px);;
  }

-10-bottom {
	   opacity: 1;
	   transform: translate3d(0px, 0px, 0px);;
   }
}

.trip-time {
	-skrollr-animation-name: trip-time;
	transition: transform .6s;
}

@-skrollr-keyframes trip-time {

20-bottom {
	  opacity: 0;
	  transform: translate3d(-3000px, 0px, 0px);
  }

-10-bottom {
	   opacity: 1;
	   transform: translate3d(0px, 0px, 0px);
   }
}

.trip-circle {
	-skrollr-animation-name: trip-circle;
	transition: transform .6s;
}

@-skrollr-keyframes trip-circle {

20-bottom {
	  opacity: 1;
	  transform: translate3d(0px, 60px, 0px);
  }

-10-bottom {
	   opacity: 1;
	   transform: translate3d(0px, 0px, 0px);
   }
}

.skill-bar {
	-skrollr-animation-name: skill-bar;
}

@-skrollr-keyframes skill-bar {
-50-bottom {
	width: 32.5%;
}
}

.hobby {
	-skrollr-animation-name: hobby;
}

@-skrollr-keyframes hobby {
	bottom-top {
		transform: rotateY(180deg);
		opacity: 0;
	}

-25-bottom {
	   transform: rotateY(90deg);
	   opacity: 0.5;
   }
-50-bottom {
	   transform: rotateY(0deg);
	   opacity: 1;
	   transform: scale(1);
   }
}

.connect a {
	-skrollr-animation-name: connect;
}

@-skrollr-keyframes connect {
	bottom-top {
		transform: scale(2);
		opacity: 1;
	}

	bottom-bottom {
		transform: scale(1);
		opacity: 1;
	}
}

.rocket {
	-skrollr-animation-name: rocket;
}

@-skrollr-keyframes rocket {
95p-start {
	opacity: 0;
}

	end {
		opacity: 1;
	}
}
