
.intro .info, .intro .motto, .intro .and {
	-skrollr-animation-name: fadeOut;
}

@-skrollr-keyframes fadeOut {
	top-top {
		opacity: 1;
	}

	top-center {
		opacity: 0.7;
	}

	top-bottom {
		opacity: 0;
	}
}

.trip-item {
	-skrollr-animation-name: trip-item;
}

@-skrollr-keyframes trip-item {

100-bottom {
	  opacity: 0;
	  transform: rotate3d(1, 0, 0, 180deg);;
  }

30-bottom {
	   opacity: 1;
	   transform: rotate3d(1, 0, 0, 0deg);;
   }
}

.skill-bar {
	-skrollr-animation-name: skill-bar;
}

@-skrollr-keyframes skill-bar {
-50-bottom {
	width: 32.5%;
}
}

.connect a {
	-skrollr-animation-name: connect;
}

@-skrollr-keyframes connect {
	bottom-top {
		transform: scale(2);
		opacity: 1;
	}

	bottom-bottom {
		transform: scale(1);
		opacity: 1;
	}
}

.rocket {
	-skrollr-animation-name: rocket;
}

@-skrollr-keyframes rocket {
95p-start {
	opacity: 0;
}

	end {
		opacity: 1;
	}
}
