section.connect
    .wrap
        .title connect
        .desc 不解之缘
        a.connect-item(href="#", title="Email")
            i.connect-icon.icon-mail
            span.connect-link.email(data-text='["g","h","w","@","b","i","t","m","o","e",".","c","o","m"]')
        a.connect-item.wechat(href="https://weixin.qq.com/r/seNfR3jE6yWUrTwk97aj",  title="Wechat")
            i.connect-icon.icon-wechat
            span.connect-link gehaowu
        a.connect-item(href="https://www.gehaowu.com", title="HOMEPAGE", target="_blank")
            i.connect-icon.icon-link
            span.connect-link gehaowu.com
        .clear
