section.connect
    .wrap
        .title connect
        .desc 来扯淡吧
        a.connect-item(href="https://twitter.com/ccbikai", target="_blank", title="Twitter")
            i.connect-icon.icon-twitter
            span.connect-link twitter.com/ccbikai
        a.connect-item.wechat(href="https://github.com/ccbikai", target="_blank", title="Github")
            i.connect-icon.icon-github
            span.connect-link github.com/ccbikai
        a.connect-item(href="http://weibo.com/ccbikai", target="_blank", title="Weibo")
            i.connect-icon.icon-weibo
            span.connect-link weibo.com/ccbikai
        a.connect-item(href="#", title="Email")
            i.connect-icon.icon-mail
            span.connect-link.email(data-text='["c","h","i","@","m","i","a","n","t","i","a","o",".","m","e"]')
        a.connect-item.wechat(href="http://weixin.qq.com/r/r-sEHNnE7YSSrZ1-9669",  title="Wechat")
            i.connect-icon.icon-wechat
            span.connect-link ccbikai
        a.connect-item(href="http://miantiao.me", title="Blog", target="_blank")
            i.connect-icon.icon-link
            span.connect-link miantiao.me
        .clear
