section.hobbies
    .wrap
        .title hobbies
        .desc 编程之外，也喜欢一些其他的
        .hobby
            .hobby-item
                i.hobby-icon.icon-digit.animated
                p.hobby-name Digit
                p.hobby-desc Raspberry Pi, OpenWrt, 手环, 平板,都挺喜欢折腾。
            .hobby-item
                i.hobby-icon.icon-network.animated
                p.hobby-name Network
                p.hobby-desc 网虫一只,常见网站都会逛一边。V2EX, 知乎, Twitter, 微博每天都上的网站。
            .hobby-item
                i.hobby-icon.icon-music.animated
                p.hobby-name Music
                p.hobby-desc 虽不懂音乐, 但是也会听一下,陶冶陶冶情操。
        .clear
