section.hobbies
    .wrap
        .title hobbies
        .desc 公诸同好
        .hobby
            .hobby-item
                i.hobby-icon.icon-digit.animated
                p.hobby-name 信息技术
            .hobby-item
                i.hobby-icon.icon-network.animated
                p.hobby-name 互联网络
            .hobby-item
                i.hobby-icon.icon-sec.animated
                p.hobby-name 数据分析
        .clear
