section.hobbies
    .wrap
        .title hobbies
        .desc 智者乐水 仁者乐山
        .hobby
            .hobby-item
                i.hobby-icon.icon-digit.animated
                p.hobby-name Technology
            .hobby-item
                i.hobby-icon.icon-network.animated
                p.hobby-name Network
            .hobby-item
                i.hobby-icon.icon-music.animated
                p.hobby-name Music
        .clear
