section.intro
    .wrap
        .info.pull-left-md
            p.hi Hi, I'm
            p.name Bi Kai
            p.job A Web Developer
        .and.pull-left &amp;
        .motto.pull-right-md
            p.write
                | I
                i.icon-love
                | to write
            p.looking great looking,
            p.usable usable
            p.websites websites.
    .clear
