section.intro
    .wrap
        .info.pull-left-md
            p.hi 嗨，我是
            p.name 葛豪武
            p.job &nbsp;&nbsp;致力商务智能。
        .and.pull-left &amp;
        .motto.pull-right-md
            p.write
                | I
                i.icon-love
                | I.T.
            p.looking Also love the open
            p.usable Business
            p.websites Intelligence.
    .clear
