section.intro
    .wrap
        .info.pull-left-md
            p.hi 嗨，我是
            p.name 葛豪武
            p.job 财会行业从业人员
        .and.pull-left &amp;
        .motto.pull-right-md
            p.write
                | I
                i.icon-love
                | to write
            p.looking great looking,
            p.usable usable
            p.websites websites.
    .clear
