section.skills
    .wrap
        .title skills
        .desc 这是我的武器, 但我依然对自己不满意
        .skill.pull-left-md
            p.skill-title technology
            .skill-item
                i.skill-icon.icon-javascript.animated
                .skill-bar(data-width="68%", data--100-bottom="width: 68%;") JavaScript
            .skill-item
                i.skill-icon.icon-nodejs.animated
                .skill-bar(data-width="64%", data--100-bottom="width: 64%;") Node.js
            .skill-item
                i.skill-icon.icon-html5.animated
                .skill-bar(data-width="73%", data--100-bottom="width: 73%;") HTML
            .skill-item
                i.skill-icon.icon-css3.animated
                .skill-bar(data-width="72%", data--100-bottom="width: 72%;") CSS
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="68%", data--100-bottom="width: 68%;") Redis
            .skill-item
                i.skill-icon.icon-mysql.animated
                .skill-bar(data-width="45%", data--100-bottom="width: 45%;") Mysql
        .skill-more.pull-right-md
            p.skill-title more
            p.skill-more-item jQuery, Bootstarp, Vue
            p.skill-more-item Express, Nginx
            p.skill-more-item Python, Shell
            p.skill-more-item SCSS, Jade
            p.skill-more-item Git, Gulp, Bower
            p.skill-more-item MongoDB
        .clear
