section.skills
    .wrap
        .title skills
        .desc 薄技在身
        .skill.pull-left-md
            p.skill-title technology
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="70%", data--100-bottom="width: 70%;") 商务智能服务构建
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="80%", data--100-bottom="width: 80%;") 大数据设计及维护
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="75%", data--100-bottom="width: 75%;") 财务会计电算化
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="85%", data--100-bottom="width: 85%;") 企业经营状况分析
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="65%", data--100-bottom="width: 65%;") 操作系统运行维护
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="65%", data--100-bottom="width: 65%;") 图形图像处理
        .skill-more.pull-right-md
            p.skill-title more
            p.skill-more-item Superset,PowerBI
            p.skill-more-item PostgreSQL,Oracle
            p.skill-more-item Odoo,SAP,Kingdee
            p.skill-more-item Financial Reports
            p.skill-more-item Unix,Linux,Windows
            p.skill-more-item Photoshop,Illustrator
        .clear
