section.skills
    .wrap
        .title skills
        .desc 薄技在身
        .skill.pull-left-md
            p.skill-title technology
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="70%", data--100-bottom="width: 70%;") 日常账务处理
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="75%", data--100-bottom="width: 75%;") 财务会计电算化
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="70%", data--100-bottom="width: 70%;") 企政报表编制报送
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="65%", data--100-bottom="width: 65%;") 企业经营状况预测
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="60%", data--100-bottom="width: 60%;") 金蝶KIS实施部署
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="65%", data--100-bottom="width: 65%;") 操作系统运行维护
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="70%", data--100-bottom="width: 70%;") 中间件部署实施
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="65%", data--100-bottom="width: 65%;") 图形图像处理
        .skill-more.pull-right-md
            p.skill-title more
            p.skill-more-item 发票,审核,凭证,报表
            p.skill-more-item 金蝶,用友,Excel,Word
            p.skill-more-item 国地税,工商,统计,外管
            p.skill-more-item 财务状况分析
            p.skill-more-item 建账,ERP软件初始化
            p.skill-more-item Unix,Linux,Windows
            p.skill-more-item web,mail,database
            p.skill-more-item Photoshop,Illustrator
        .clear
