section.skills
    .wrap
        .title skills
        .desc 成人不自在 自在不成
        .skill.pull-left-md
            p.skill-title technology
            .skill-item
                i.skill-icon.icon-javascript.animated
                .skill-bar(data-width="70%", data--100-bottom="width: 70%;") 日常账务处理
            .skill-item
                i.skill-icon.icon-nodejs.animated
                .skill-bar(data-width="75%", data--100-bottom="width: 75%;") 财务软件操作
            .skill-item
                i.skill-icon.icon-html5.animated
                .skill-bar(data-width="71%", data--100-bottom="width: 71%;") 企政报表报送
            .skill-item
                i.skill-icon.icon-css3.animated
                .skill-bar(data-width="65%", data--100-bottom="width: 65%;") 企业经营状况预测
            .skill-item
                i.skill-icon.icon-redis.animated
                .skill-bar(data-width="60%", data--100-bottom="width: 60%;") FreeBSD/Linux 运行维护
            .skill-item
                i.skill-icon.icon-mysql.animated
                .skill-bar(data-width="80%", data--100-bottom="width: 80%;") Web/Mail/FTP 等常见服务搭建
        .skill-more.pull-right-md
            p.skill-title more
            p.skill-more-item 凭证, 报表, 审核
            p.skill-more-item 金蝶, 用友
            p.skill-more-item 国地税, 工商, 统计
            p.skill-more-item 财务状况分析
            p.skill-more-item 类Unix系统维护
            p.skill-more-item NGINX, Postfix, vsftpd
        .clear
