section.timeline
    .wrap
        .title timeline
        .desc 时光荏苒 岁月静好
        .trip
            .trip-item
                .trip-time
                    span.time-start
                        | 2016.01
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 联合创始人/首席财务官
                        p.company 深圳比特萌信息技术有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2016.02
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 主办会计（制造业）
                        p.company 浙江杰豹机械股份有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2014.09
                    |  -
                    span.time-end
                        |  2016.01
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 主办会计（商贸企业）
                        p.company 杭州宇林医学仪器有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2011.04
                    |  -
                    span.time-end
                        |  2014.09
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 税务会计/财务助理
                        p.company 浙江爱生药业有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2008.09
                    |  -
                    span.time-end
                        |  2011.06
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-graduation.pull-left
                    .pull-left
                        p.job 电算会计
                        p.company 浙江财经学院
                    .clear
        .born
            .trip-item
                .trip-time
                    span.time-start
                        | 1990.02
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-sun.pull-left
                    .pull-left
                        p.job 出生
                        p.company 你好，世界！
                    .clear
            .trip-item-detail.animated
                .trip-item-close
                .trip-item-content
                    h3 出生
                    p.
                        Since 1990
