section.timeline
    .wrap
        .title timeline
        .desc 我从高中就开始自学网页制作, 并对新领域,技术趋势保持浓厚的兴趣
        .trip
            .trip-item
                .trip-time
                    span.time-start
                        | 2014.09
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job Web 开发工程师
                        p.company 南京物联传感技术有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2014.05
                    |  -
                    span.time-end
                        |  2015.06
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 微信公众号开发
                        p.company “在南邮”微信公众号
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2009.01
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job Blogger
                        p.company 吃面条么
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2011.09
                    |  -
                    span.time-end
                        |  2015.06
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-graduation.pull-left
                    .pull-left
                        p.job 计算机科学与技术
                        p.company 南京邮电大学通达学院
                    .clear
        .born
            .trip-item
                .trip-time
                    span.time-start
                        | 1991.12
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-sun.pull-left
                    .pull-left
                        p.job 出生
                        p.company 来到这个世界
                    .clear
