section.timeline
    .wrap
        .title timeline
        .desc 从高中就开始自学网页制作, 并对新领域,技术趋势保持浓厚的兴趣
        .trip
            .trip-item
                .trip-time
                    span.time-start
                        | 2014.09
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job Web 开发工程师
                        p.company 南京物联传感技术有限公司
                    .clear
            .trip-item-detail.animated
                .trip-item-close
                .trip-item-content
                    h3 路由管理后台开发
                    p.
                        独立完成两版路由管理后台静态页面开发，响应式界面。使用 SCSS 进行 CSS 预处理，网页图片使用 Sprite 优化，图标采用 fonticon 优化。使用 Gulp 进行前端代码合并，压缩，使用 Bower 管理依赖包。第一版浏览器兼容 IE6+，第二版浏览器兼容 IE8+。
                    h3 APP Web管理后台开发
                    p.
                        使用 Node.JS 独立开发 APP Web管理后台，实现产品发布管理，APP 版本发布管理，错误日志分析，设备在线数据统计与图表展示，设备在线分布地图展示等功能。后端使用 Express 框架，Mysql 数据库，Passport 认证框架，前端使用 Bootstrap 框架。
                    h3 API 接口开发
                    p.
                        使用 Node.JS 为手机 APP 开发 REST API 接口。
            .trip-item
                .trip-time
                    span.time-start
                        | 2014.05
                    |  -
                    span.time-end
                        |  2015.06
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 微信公众号开发
                        p.company “在南邮”微信公众号
                    .clear
            .trip-item-detail.animated
                .trip-item-close
                .trip-item-content
                    h3 微信公众号开发
                    p.
                        独立设计开发微信公众号“在南邮”，实现查成绩，查绩点，查课表，查等级考试成绩，查图书馆书籍存放地点，借阅信息功能。 使用 Python 编写爬虫脚本，使用 Flask 做 Web 框架，Redis 存储数据。
            .trip-item
                .trip-time
                    span.time-start
                        | 2009.01
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job Blogger
                        p.company 吃面条么
                    .clear
            .trip-item-detail.animated
                .trip-item-close
                .trip-item-content
                    h3 Blogger
                    p.
                        从 2009 年开始接触独立博客，曾使用 PJblog， WordPress， Jekyll 撰写博客。熟悉 WordPress 主题，Jekyll 主题制作。
            .trip-item
                .trip-time
                    span.time-start
                        | 2011.09
                    |  -
                    span.time-end
                        |  2015.06
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-graduation.pull-left
                    .pull-left
                        p.job 计算机科学与技术
                        p.company 南京邮电大学通达学院
                    .clear
            .trip-item-detail.animated
                .trip-item-close
                .trip-item-content
                    h3 大学
                    p.
                        计算机科学与技术专业学生。在校期间曾担任过班长，大二获得学习进步奖，大三获得三等奖学金。通过全国计算机二级 C 语言考试，三级网络技术考试。
        .born
            .trip-item
                .trip-time
                    span.time-start
                        | 1991.12
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-sun.pull-left
                    .pull-left
                        p.job 出生
                        p.company 来到这个世界
                    .clear
            .trip-item-detail.animated
                .trip-item-close
                .trip-item-content
                    h3 出生
                    p.
                        Since 1991
