section.timeline
    .wrap
        .title timeline
        .desc 时光荏苒
        .trip
            .trip-item
                .trip-time
                    span.time-start
                        | 2018.11
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 联合创始人/首席财务官
                        p.company 深圳比特萌信息技术有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2017.07
                    |  -
                    span.time-end
                        |  2018.11
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 成本会计（工业）
                        p.company 浙江??电器有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2016.02
                    |  -
                    span.time-end
                        |  2017.06
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 主办会计（工业）
                        p.company 浙江??机械股份有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2014.09
                    |  -
                    span.time-end
                        |  2016.01
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 主办会计（商业）
                        p.company 杭州??医学仪器有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2011.04
                    |  -
                    span.time-end
                        |  2014.09
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-job.pull-left
                    .pull-left
                        p.job 税务会计/财务助理
                        p.company 浙江??药业有限公司
                    .clear
            .trip-item
                .trip-time
                    span.time-start
                        | 2008.09
                    |  -
                    span.time-end
                        |  2011.06
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-graduation.pull-left
                    .pull-left
                        p.job 会计学
                        p.company 浙江财经学院
                    .clear
        .born
            .trip-item
                .trip-time
                    span.time-start
                        | 1990.02
                    |  -
                    span.time-end
                        |  Date.now()
                span.trip-circle
                .trip-info
                    i.trip-icon.icon-sun.pull-left
                    .pull-left
                        p.job 出生
                        p.company 你好，世界！
                    .clear
            .trip-item-detail.animated
                .trip-item-close
                .trip-item-content
                    h3 出生
                    p.
                        Since 1990
