extends _include/layout

block head
    title 葛豪武的简历

block body
    #skrollr-body
        include part/intro
        include part/timeline
        include part/skill
        include part/hobby
        include part/connect
        footer
            .site-info
                span.design
                    a(href="https://www.gehaowu.com/", title="Return to the HomePage") Welcome to Ge Haowu's Personal Homepage!
        .resume: span resume
    .rocket
        .header
        .body
            .window
            .wing.wing-left
            .wing.wing-right
            .lader
        .footer.animated.infinite
    .mask.qrcode.animated
        img(src="images/wechat-qrcode.png", alt="Wechat")
    .mask.animated
        .loading
            .mouth
            .neck
            .base
                .liquid
                .wave
                .wave
                .bubble
                .bubble
            .bubble
            .bubble
