extends _include/layout

block head
    title 葛豪武的个人简历

block body
    #skrollr-body
        include part/intro
        include part/timeline
        include part/skill
        include part/hobby
        include part/connect
        footer
            .site-info
                span.design
                    a(href="https://www.gehaowu.com/", title="Return to the HomePage") Copyright &copy; 2011-2019 Haowu Ge. All rights reserved.</br>
                    a(href="http://www.miibeian.gov.cn", target="_blank" rel="nofollow") 浙ICP备15014697号
                    |  ✬ 
                    a(href="https://www.bitmoe.com/", target="_blank") BitMOE 比特萌·信息
                    |  ✬ 
                    a(href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602000649", target="_blank" rel="nofollow") 浙公网安备33010602000649号
        .resume: span resume
    .rocket
        .header
        .body
            .window
            .wing.wing-left
            .wing.wing-right
            .lader
        .footer.animated.infinite
    .mask.qrcode.animated
        img(src="images/wechat-qrcode.png", alt="Wechat")
    .mask.animated
        .loading
            .mouth
            .neck
            .base
                .liquid
                .wave
                .wave
                .bubble
                .bubble
            .bubble
            .bubble
