doctype html
html(lang="zh-Hans")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        meta(name="renderer",content="webkit")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui")
        link(rel='stylesheet', href='css/style.min.css')
        link(rel='stylesheet', href='css/skrollr-lg.min.css', media='all and (min-width: 768px)', data-skrollr-stylesheet)
        link(rel='stylesheet', href='css/skrollr.min.css', data-skrollr-stylesheet)
        meta(name='author', content='Haowu Ge')
        meta(name='keywords', content='芭比小柒,财务,葛豪武,个人主页,会计,小柒,商务智能,BI,Business,Business Intelligence,Accounting,Finance,FreeBSD,Ge Haowu,Haowu Ge,HTML5,Homepage,XiaoQI,XiaoQI Ge')
        meta(name='description', content='葛豪武的个人网站')
        //meta(name='robots', content='index,follow')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
        meta(name='theme-color', content='#3b3b3b')
        meta(name='google', value='notranslate')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        meta(name='screen-orientation', content='portrait')
        meta(name='x5-orientation', content='portrait')
        meta(name='full-screen', content='yes')
        meta(name='x5-fullscreen', content='true')
        meta(name='msapplication-tap-highlight', content='no')
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='canonical', href='https://www.gehaowu.com/')
        block head
    body
        block body
        script(src='js/main.min.js')
        script.
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?2f0f4b0d867163a00886350ad2c21f8c";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
