*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "Nexa", "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
	&:before {
		content: '';
		display: table-cell;
	}
}

@mixin font-size($n) {
	font-size: #{$n}px;
	font-size: #{($n/10)}rem;
}

@mixin breakpoint($size) {
	@if $size == gt-xxlarge {
		@media all and (min-width: 1920px) {
			@content;
		}
	} @else if $size == lt-xxlarge {
		@media all and (max-width: 1920px) {
			@content;
		}
	} @else if $size == gt-xlarge {
		@media all and (min-width: 1400px) {
			@content;
		}
	} @else if $size == lt-xlarge {
		@media all and (max-width: 1400px) {
			@content;
		}
	} @else if $size == gt-large {
		@media all and (min-width: 1200px) {
			@content;
		}
	} @else if $size == lt-large {
		@media all and (max-width: 1200px) {
			@content;
		}
	} @else if $size == gt-medium {
		@media all and (min-width: 992px) {
			@content;
		}
	} @else if $size == lt-medium {
		@media all and (max-width: 992px) {
			@content;
		}
	} @else if $size == gt-small {
		@media all and (min-width: 768px) {
			@content;
		}
	} @else if $size == lt-small {
		@media all and (max-width: 768px) {
			@content;
		}
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

@include breakpoint(gt-small) {
	.pull-left-md {
		float: left;
	}

	.pull-right-md {
		float: right;
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
